UyTube_web/src/conf/xml-resources/web-service-references/UyTube_ws/wsdl/localhost_9789/UyTube_ws.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Controladores.Logica/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Controladores.Logica/" name="CUsuarioService">
<types>
<xsd:schema>
<xsd:import namespace="http://Controladores.Logica/" schemaLocation="http://localhost:9789/UyTube_ws?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="altaVideo">
<part name="parameters" element="tns:altaVideo"></part>
</message>
<message name="altaVideoResponse">
<part name="parameters" element="tns:altaVideoResponse"></part>
</message>
<message name="listarUsuarios">
<part name="parameters" element="tns:listarUsuarios"></part>
</message>
<message name="listarUsuariosResponse">
<part name="parameters" element="tns:listarUsuariosResponse"></part>
</message>
<message name="altaComentario">
<part name="parameters" element="tns:altaComentario"></part>
</message>
<message name="altaComentarioResponse">
<part name="parameters" element="tns:altaComentarioResponse"></part>
</message>
<message name="existeNickname">
<part name="parameters" element="tns:existeNickname"></part>
</message>
<message name="existeNicknameResponse">
<part name="parameters" element="tns:existeNicknameResponse"></part>
</message>
<message name="existeEmail">
<part name="parameters" element="tns:existeEmail"></part>
</message>
<message name="existeEmailResponse">
<part name="parameters" element="tns:existeEmailResponse"></part>
</message>
<message name="altaUsuarioCanal">
<part name="parameters" element="tns:altaUsuarioCanal"></part>
</message>
<message name="altaUsuarioCanalResponse">
<part name="parameters" element="tns:altaUsuarioCanalResponse"></part>
</message>
<message name="bajaUsuario">
<part name="parameters" element="tns:bajaUsuario"></part>
</message>
<message name="bajaUsuarioResponse">
<part name="parameters" element="tns:bajaUsuarioResponse"></part>
</message>
<message name="modificarVideo">
<part name="parameters" element="tns:modificarVideo"></part>
</message>
<message name="modificarVideoResponse">
<part name="parameters" element="tns:modificarVideoResponse"></part>
</message>
<message name="listarCategorias">
<part name="parameters" element="tns:listarCategorias"></part>
</message>
<message name="listarCategoriasResponse">
<part name="parameters" element="tns:listarCategoriasResponse"></part>
</message>
<message name="seguirUsuario">
<part name="parameters" element="tns:seguirUsuario"></part>
</message>
<message name="seguirUsuarioResponse">
<part name="parameters" element="tns:seguirUsuarioResponse"></part>
</message>
<message name="buscar">
<part name="parameters" element="tns:buscar"></part>
</message>
<message name="buscarResponse">
<part name="parameters" element="tns:buscarResponse"></part>
</message>
<message name="seleccionarVideo">
<part name="parameters" element="tns:seleccionarVideo"></part>
</message>
<message name="seleccionarVideoResponse">
<part name="parameters" element="tns:seleccionarVideoResponse"></part>
</message>
<message name="cerrarSesion">
<part name="parameters" element="tns:cerrarSesion"></part>
</message>
<message name="cerrarSesionResponse">
<part name="parameters" element="tns:cerrarSesionResponse"></part>
</message>
<message name="obtenerPropietarioDeListaDeReproduccion">
<part name="parameters" element="tns:obtenerPropietarioDeListaDeReproduccion"></part>
</message>
<message name="obtenerPropietarioDeListaDeReproduccionResponse">
<part name="parameters" element="tns:obtenerPropietarioDeListaDeReproduccionResponse"></part>
</message>
<message name="altaListaDeReproduccionParticular">
<part name="parameters" element="tns:altaListaDeReproduccionParticular"></part>
</message>
<message name="altaListaDeReproduccionParticularResponse">
<part name="parameters" element="tns:altaListaDeReproduccionParticularResponse"></part>
</message>
<message name="elUsuarioSeleccionadoEsElUsuarioActual">
<part name="parameters" element="tns:elUsuarioSeleccionadoEsElUsuarioActual"></part>
</message>
<message name="elUsuarioSeleccionadoEsElUsuarioActualResponse">
<part name="parameters" element="tns:elUsuarioSeleccionadoEsElUsuarioActualResponse"></part>
</message>
<message name="listarListasDeReproduccionDeUsuario">
<part name="parameters" element="tns:listarListasDeReproduccionDeUsuario"></part>
</message>
<message name="listarListasDeReproduccionDeUsuarioResponse">
<part name="parameters" element="tns:listarListasDeReproduccionDeUsuarioResponse"></part>
</message>
<message name="liberarMemoriaListaDeReproduccion">
<part name="parameters" element="tns:liberarMemoriaListaDeReproduccion"></part>
</message>
<message name="liberarMemoriaListaDeReproduccionResponse">
<part name="parameters" element="tns:liberarMemoriaListaDeReproduccionResponse"></part>
</message>
<message name="listarVideosDeListaDeReproduccion">
<part name="parameters" element="tns:listarVideosDeListaDeReproduccion"></part>
</message>
<message name="listarVideosDeListaDeReproduccionResponse">
<part name="parameters" element="tns:listarVideosDeListaDeReproduccionResponse"></part>
</message>
<message name="sesionIniciada">
<part name="parameters" element="tns:sesionIniciada"></part>
</message>
<message name="sesionIniciadaResponse">
<part name="parameters" element="tns:sesionIniciadaResponse"></part>
</message>
<message name="valorarVideo">
<part name="parameters" element="tns:valorarVideo"></part>
</message>
<message name="valorarVideoResponse">
<part name="parameters" element="tns:valorarVideoResponse"></part>
</message>
<message name="obtenerCanalDeUsuario">
<part name="parameters" element="tns:obtenerCanalDeUsuario"></part>
</message>
<message name="obtenerCanalDeUsuarioResponse">
<part name="parameters" element="tns:obtenerCanalDeUsuarioResponse"></part>
</message>
<message name="obtenerPropietarioDeVideo">
<part name="parameters" element="tns:obtenerPropietarioDeVideo"></part>
</message>
<message name="obtenerPropietarioDeVideoResponse">
<part name="parameters" element="tns:obtenerPropietarioDeVideoResponse"></part>
</message>
<message name="liberarMemoriaVideo">
<part name="parameters" element="tns:liberarMemoriaVideo"></part>
</message>
<message name="liberarMemoriaVideoResponse">
<part name="parameters" element="tns:liberarMemoriaVideoResponse"></part>
</message>
<message name="obtenerUsuarioActual">
<part name="parameters" element="tns:obtenerUsuarioActual"></part>
</message>
<message name="obtenerUsuarioActualResponse">
<part name="parameters" element="tns:obtenerUsuarioActualResponse"></part>
</message>
<message name="validarNuevoVideo">
<part name="parameters" element="tns:validarNuevoVideo"></part>
</message>
<message name="validarNuevoVideoResponse">
<part name="parameters" element="tns:validarNuevoVideoResponse"></part>
</message>
<message name="obtenerValoracionesDeVideo">
<part name="parameters" element="tns:obtenerValoracionesDeVideo"></part>
</message>
<message name="obtenerValoracionesDeVideoResponse">
<part name="parameters" element="tns:obtenerValoracionesDeVideoResponse"></part>
</message>
<message name="seleccionarListaDeReproduccion">
<part name="parameters" element="tns:seleccionarListaDeReproduccion"></part>
</message>
<message name="seleccionarListaDeReproduccionResponse">
<part name="parameters" element="tns:seleccionarListaDeReproduccionResponse"></part>
</message>
<message name="modificarImagenDeUsuario">
<part name="parameters" element="tns:modificarImagenDeUsuario"></part>
</message>
<message name="modificarImagenDeUsuarioResponse">
<part name="parameters" element="tns:modificarImagenDeUsuarioResponse"></part>
</message>
<message name="existeImagenDeUsuario">
<part name="parameters" element="tns:existeImagenDeUsuario"></part>
</message>
<message name="existeImagenDeUsuarioResponse">
<part name="parameters" element="tns:existeImagenDeUsuarioResponse"></part>
</message>
<message name="altaImagenDeUsuario">
<part name="parameters" element="tns:altaImagenDeUsuario"></part>
</message>
<message name="altaImagenDeUsuarioResponse">
<part name="parameters" element="tns:altaImagenDeUsuarioResponse"></part>
</message>
<message name="liberarMemoriaUsuario">
<part name="parameters" element="tns:liberarMemoriaUsuario"></part>
</message>
<message name="liberarMemoriaUsuarioResponse">
<part name="parameters" element="tns:liberarMemoriaUsuarioResponse"></part>
</message>
<message name="obtenerImagenDeUsuario">
<part name="parameters" element="tns:obtenerImagenDeUsuario"></part>
</message>
<message name="obtenerImagenDeUsuarioResponse">
<part name="parameters" element="tns:obtenerImagenDeUsuarioResponse"></part>
</message>
<message name="listarUsuarioSeguidos">
<part name="parameters" element="tns:listarUsuarioSeguidos"></part>
</message>
<message name="listarUsuarioSeguidosResponse">
<part name="parameters" element="tns:listarUsuarioSeguidosResponse"></part>
</message>
<message name="obtenerPropietarioDeCanal">
<part name="parameters" element="tns:obtenerPropietarioDeCanal"></part>
</message>
<message name="obtenerPropietarioDeCanalResponse">
<part name="parameters" element="tns:obtenerPropietarioDeCanalResponse"></part>
</message>
<message name="iniciarSesionUsuario">
<part name="parameters" element="tns:iniciarSesionUsuario"></part>
</message>
<message name="iniciarSesionUsuarioResponse">
<part name="parameters" element="tns:iniciarSesionUsuarioResponse"></part>
</message>
<message name="eliminarImagenDeUsuario">
<part name="parameters" element="tns:eliminarImagenDeUsuario"></part>
</message>
<message name="eliminarImagenDeUsuarioResponse">
<part name="parameters" element="tns:eliminarImagenDeUsuarioResponse"></part>
</message>
<message name="listarUsuarioSeguidores">
<part name="parameters" element="tns:listarUsuarioSeguidores"></part>
</message>
<message name="listarUsuarioSeguidoresResponse">
<part name="parameters" element="tns:listarUsuarioSeguidoresResponse"></part>
</message>
<message name="altaSubComentario">
<part name="parameters" element="tns:altaSubComentario"></part>
</message>
<message name="altaSubComentarioResponse">
<part name="parameters" element="tns:altaSubComentarioResponse"></part>
</message>
<message name="quitarVideoDeListaDeReproduccion">
<part name="parameters" element="tns:quitarVideoDeListaDeReproduccion"></part>
</message>
<message name="quitarVideoDeListaDeReproduccionResponse">
<part name="parameters" element="tns:quitarVideoDeListaDeReproduccionResponse"></part>
</message>
<message name="listarVideosDeUsuario">
<part name="parameters" element="tns:listarVideosDeUsuario"></part>
</message>
<message name="listarVideosDeUsuarioResponse">
<part name="parameters" element="tns:listarVideosDeUsuarioResponse"></part>
</message>
<message name="obtenerValoracionDada">
<part name="parameters" element="tns:obtenerValoracionDada"></part>
</message>
<message name="obtenerValoracionDadaResponse">
<part name="parameters" element="tns:obtenerValoracionDadaResponse"></part>
</message>
<message name="listarComentariosDeVideo">
<part name="parameters" element="tns:listarComentariosDeVideo"></part>
</message>
<message name="listarComentariosDeVideoResponse">
<part name="parameters" element="tns:listarComentariosDeVideoResponse"></part>
</message>
<message name="seleccionarUsuario">
<part name="parameters" element="tns:seleccionarUsuario"></part>
</message>
<message name="seleccionarUsuarioResponse">
<part name="parameters" element="tns:seleccionarUsuarioResponse"></part>
</message>
<message name="buscarPorCategoria">
<part name="parameters" element="tns:buscarPorCategoria"></part>
</message>
<message name="buscarPorCategoriaResponse">
<part name="parameters" element="tns:buscarPorCategoriaResponse"></part>
</message>
<message name="obtenerImagenDeUsuarioPorDefecto">
<part name="parameters" element="tns:obtenerImagenDeUsuarioPorDefecto"></part>
</message>
<message name="obtenerImagenDeUsuarioPorDefectoResponse">
<part name="parameters" element="tns:obtenerImagenDeUsuarioPorDefectoResponse"></part>
</message>
<message name="modificarListaDeReproduccion">
<part name="parameters" element="tns:modificarListaDeReproduccion"></part>
</message>
<message name="modificarListaDeReproduccionResponse">
<part name="parameters" element="tns:modificarListaDeReproduccionResponse"></part>
</message>
<message name="agregarVideoAListaDeReproduccion">
<part name="parameters" element="tns:agregarVideoAListaDeReproduccion"></part>
</message>
<message name="agregarVideoAListaDeReproduccionResponse">
<part name="parameters" element="tns:agregarVideoAListaDeReproduccionResponse"></part>
</message>
<message name="validarNuevaListaParticular">
<part name="parameters" element="tns:validarNuevaListaParticular"></part>
</message>
<message name="validarNuevaListaParticularResponse">
<part name="parameters" element="tns:validarNuevaListaParticularResponse"></part>
</message>
<message name="modificarUsuarioYCanal">
<part name="parameters" element="tns:modificarUsuarioYCanal"></part>
</message>
<message name="modificarUsuarioYCanalResponse">
<part name="parameters" element="tns:modificarUsuarioYCanalResponse"></part>
</message>
<portType name="CUsuario">
<operation name="altaVideo">
<input wsam:Action="http://Controladores.Logica/CUsuario/altaVideoRequest" message="tns:altaVideo"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/altaVideoResponse" message="tns:altaVideoResponse"></output>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://Controladores.Logica/CUsuario/listarUsuariosRequest" message="tns:listarUsuarios"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/listarUsuariosResponse" message="tns:listarUsuariosResponse"></output>
</operation>
<operation name="altaComentario">
<input wsam:Action="http://Controladores.Logica/CUsuario/altaComentarioRequest" message="tns:altaComentario"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/altaComentarioResponse" message="tns:altaComentarioResponse"></output>
</operation>
<operation name="existeNickname">
<input wsam:Action="http://Controladores.Logica/CUsuario/existeNicknameRequest" message="tns:existeNickname"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/existeNicknameResponse" message="tns:existeNicknameResponse"></output>
</operation>
<operation name="existeEmail">
<input wsam:Action="http://Controladores.Logica/CUsuario/existeEmailRequest" message="tns:existeEmail"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/existeEmailResponse" message="tns:existeEmailResponse"></output>
</operation>
<operation name="altaUsuarioCanal">
<input wsam:Action="http://Controladores.Logica/CUsuario/altaUsuarioCanalRequest" message="tns:altaUsuarioCanal"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/altaUsuarioCanalResponse" message="tns:altaUsuarioCanalResponse"></output>
</operation>
<operation name="bajaUsuario">
<input wsam:Action="http://Controladores.Logica/CUsuario/bajaUsuarioRequest" message="tns:bajaUsuario"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/bajaUsuarioResponse" message="tns:bajaUsuarioResponse"></output>
</operation>
<operation name="modificarVideo">
<input wsam:Action="http://Controladores.Logica/CUsuario/modificarVideoRequest" message="tns:modificarVideo"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/modificarVideoResponse" message="tns:modificarVideoResponse"></output>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://Controladores.Logica/CUsuario/listarCategoriasRequest" message="tns:listarCategorias"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/listarCategoriasResponse" message="tns:listarCategoriasResponse"></output>
</operation>
<operation name="seguirUsuario">
<input wsam:Action="http://Controladores.Logica/CUsuario/seguirUsuarioRequest" message="tns:seguirUsuario"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/seguirUsuarioResponse" message="tns:seguirUsuarioResponse"></output>
</operation>
<operation name="buscar">
<input wsam:Action="http://Controladores.Logica/CUsuario/buscarRequest" message="tns:buscar"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/buscarResponse" message="tns:buscarResponse"></output>
</operation>
<operation name="seleccionarVideo">
<input wsam:Action="http://Controladores.Logica/CUsuario/seleccionarVideoRequest" message="tns:seleccionarVideo"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/seleccionarVideoResponse" message="tns:seleccionarVideoResponse"></output>
</operation>
<operation name="cerrarSesion">
<input wsam:Action="http://Controladores.Logica/CUsuario/cerrarSesionRequest" message="tns:cerrarSesion"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/cerrarSesionResponse" message="tns:cerrarSesionResponse"></output>
</operation>
<operation name="obtenerPropietarioDeListaDeReproduccion">
<input wsam:Action="http://Controladores.Logica/CUsuario/obtenerPropietarioDeListaDeReproduccionRequest" message="tns:obtenerPropietarioDeListaDeReproduccion"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/obtenerPropietarioDeListaDeReproduccionResponse" message="tns:obtenerPropietarioDeListaDeReproduccionResponse"></output>
</operation>
<operation name="altaListaDeReproduccionParticular">
<input wsam:Action="http://Controladores.Logica/CUsuario/altaListaDeReproduccionParticularRequest" message="tns:altaListaDeReproduccionParticular"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/altaListaDeReproduccionParticularResponse" message="tns:altaListaDeReproduccionParticularResponse"></output>
</operation>
<operation name="elUsuarioSeleccionadoEsElUsuarioActual">
<input wsam:Action="http://Controladores.Logica/CUsuario/elUsuarioSeleccionadoEsElUsuarioActualRequest" message="tns:elUsuarioSeleccionadoEsElUsuarioActual"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/elUsuarioSeleccionadoEsElUsuarioActualResponse" message="tns:elUsuarioSeleccionadoEsElUsuarioActualResponse"></output>
</operation>
<operation name="listarListasDeReproduccionDeUsuario">
<input wsam:Action="http://Controladores.Logica/CUsuario/listarListasDeReproduccionDeUsuarioRequest" message="tns:listarListasDeReproduccionDeUsuario"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/listarListasDeReproduccionDeUsuarioResponse" message="tns:listarListasDeReproduccionDeUsuarioResponse"></output>
</operation>
<operation name="liberarMemoriaListaDeReproduccion">
<input wsam:Action="http://Controladores.Logica/CUsuario/liberarMemoriaListaDeReproduccionRequest" message="tns:liberarMemoriaListaDeReproduccion"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/liberarMemoriaListaDeReproduccionResponse" message="tns:liberarMemoriaListaDeReproduccionResponse"></output>
</operation>
<operation name="listarVideosDeListaDeReproduccion">
<input wsam:Action="http://Controladores.Logica/CUsuario/listarVideosDeListaDeReproduccionRequest" message="tns:listarVideosDeListaDeReproduccion"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/listarVideosDeListaDeReproduccionResponse" message="tns:listarVideosDeListaDeReproduccionResponse"></output>
</operation>
<operation name="sesionIniciada">
<input wsam:Action="http://Controladores.Logica/CUsuario/sesionIniciadaRequest" message="tns:sesionIniciada"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/sesionIniciadaResponse" message="tns:sesionIniciadaResponse"></output>
</operation>
<operation name="valorarVideo">
<input wsam:Action="http://Controladores.Logica/CUsuario/valorarVideoRequest" message="tns:valorarVideo"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/valorarVideoResponse" message="tns:valorarVideoResponse"></output>
</operation>
<operation name="obtenerCanalDeUsuario">
<input wsam:Action="http://Controladores.Logica/CUsuario/obtenerCanalDeUsuarioRequest" message="tns:obtenerCanalDeUsuario"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/obtenerCanalDeUsuarioResponse" message="tns:obtenerCanalDeUsuarioResponse"></output>
</operation>
<operation name="obtenerPropietarioDeVideo">
<input wsam:Action="http://Controladores.Logica/CUsuario/obtenerPropietarioDeVideoRequest" message="tns:obtenerPropietarioDeVideo"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/obtenerPropietarioDeVideoResponse" message="tns:obtenerPropietarioDeVideoResponse"></output>
</operation>
<operation name="liberarMemoriaVideo">
<input wsam:Action="http://Controladores.Logica/CUsuario/liberarMemoriaVideoRequest" message="tns:liberarMemoriaVideo"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/liberarMemoriaVideoResponse" message="tns:liberarMemoriaVideoResponse"></output>
</operation>
<operation name="obtenerUsuarioActual">
<input wsam:Action="http://Controladores.Logica/CUsuario/obtenerUsuarioActualRequest" message="tns:obtenerUsuarioActual"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/obtenerUsuarioActualResponse" message="tns:obtenerUsuarioActualResponse"></output>
</operation>
<operation name="validarNuevoVideo">
<input wsam:Action="http://Controladores.Logica/CUsuario/validarNuevoVideoRequest" message="tns:validarNuevoVideo"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/validarNuevoVideoResponse" message="tns:validarNuevoVideoResponse"></output>
</operation>
<operation name="obtenerValoracionesDeVideo">
<input wsam:Action="http://Controladores.Logica/CUsuario/obtenerValoracionesDeVideoRequest" message="tns:obtenerValoracionesDeVideo"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/obtenerValoracionesDeVideoResponse" message="tns:obtenerValoracionesDeVideoResponse"></output>
</operation>
<operation name="seleccionarListaDeReproduccion">
<input wsam:Action="http://Controladores.Logica/CUsuario/seleccionarListaDeReproduccionRequest" message="tns:seleccionarListaDeReproduccion"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/seleccionarListaDeReproduccionResponse" message="tns:seleccionarListaDeReproduccionResponse"></output>
</operation>
<operation name="modificarImagenDeUsuario">
<input wsam:Action="http://Controladores.Logica/CUsuario/modificarImagenDeUsuarioRequest" message="tns:modificarImagenDeUsuario"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/modificarImagenDeUsuarioResponse" message="tns:modificarImagenDeUsuarioResponse"></output>
</operation>
<operation name="existeImagenDeUsuario">
<input wsam:Action="http://Controladores.Logica/CUsuario/existeImagenDeUsuarioRequest" message="tns:existeImagenDeUsuario"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/existeImagenDeUsuarioResponse" message="tns:existeImagenDeUsuarioResponse"></output>
</operation>
<operation name="altaImagenDeUsuario">
<input wsam:Action="http://Controladores.Logica/CUsuario/altaImagenDeUsuarioRequest" message="tns:altaImagenDeUsuario"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/altaImagenDeUsuarioResponse" message="tns:altaImagenDeUsuarioResponse"></output>
</operation>
<operation name="liberarMemoriaUsuario">
<input wsam:Action="http://Controladores.Logica/CUsuario/liberarMemoriaUsuarioRequest" message="tns:liberarMemoriaUsuario"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/liberarMemoriaUsuarioResponse" message="tns:liberarMemoriaUsuarioResponse"></output>
</operation>
<operation name="obtenerImagenDeUsuario">
<input wsam:Action="http://Controladores.Logica/CUsuario/obtenerImagenDeUsuarioRequest" message="tns:obtenerImagenDeUsuario"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/obtenerImagenDeUsuarioResponse" message="tns:obtenerImagenDeUsuarioResponse"></output>
</operation>
<operation name="listarUsuarioSeguidos">
<input wsam:Action="http://Controladores.Logica/CUsuario/listarUsuarioSeguidosRequest" message="tns:listarUsuarioSeguidos"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/listarUsuarioSeguidosResponse" message="tns:listarUsuarioSeguidosResponse"></output>
</operation>
<operation name="obtenerPropietarioDeCanal">
<input wsam:Action="http://Controladores.Logica/CUsuario/obtenerPropietarioDeCanalRequest" message="tns:obtenerPropietarioDeCanal"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/obtenerPropietarioDeCanalResponse" message="tns:obtenerPropietarioDeCanalResponse"></output>
</operation>
<operation name="iniciarSesionUsuario">
<input wsam:Action="http://Controladores.Logica/CUsuario/iniciarSesionUsuarioRequest" message="tns:iniciarSesionUsuario"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/iniciarSesionUsuarioResponse" message="tns:iniciarSesionUsuarioResponse"></output>
</operation>
<operation name="eliminarImagenDeUsuario">
<input wsam:Action="http://Controladores.Logica/CUsuario/eliminarImagenDeUsuarioRequest" message="tns:eliminarImagenDeUsuario"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/eliminarImagenDeUsuarioResponse" message="tns:eliminarImagenDeUsuarioResponse"></output>
</operation>
<operation name="listarUsuarioSeguidores">
<input wsam:Action="http://Controladores.Logica/CUsuario/listarUsuarioSeguidoresRequest" message="tns:listarUsuarioSeguidores"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/listarUsuarioSeguidoresResponse" message="tns:listarUsuarioSeguidoresResponse"></output>
</operation>
<operation name="altaSubComentario">
<input wsam:Action="http://Controladores.Logica/CUsuario/altaSubComentarioRequest" message="tns:altaSubComentario"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/altaSubComentarioResponse" message="tns:altaSubComentarioResponse"></output>
</operation>
<operation name="quitarVideoDeListaDeReproduccion">
<input wsam:Action="http://Controladores.Logica/CUsuario/quitarVideoDeListaDeReproduccionRequest" message="tns:quitarVideoDeListaDeReproduccion"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/quitarVideoDeListaDeReproduccionResponse" message="tns:quitarVideoDeListaDeReproduccionResponse"></output>
</operation>
<operation name="listarVideosDeUsuario">
<input wsam:Action="http://Controladores.Logica/CUsuario/listarVideosDeUsuarioRequest" message="tns:listarVideosDeUsuario"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/listarVideosDeUsuarioResponse" message="tns:listarVideosDeUsuarioResponse"></output>
</operation>
<operation name="obtenerValoracionDada">
<input wsam:Action="http://Controladores.Logica/CUsuario/obtenerValoracionDadaRequest" message="tns:obtenerValoracionDada"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/obtenerValoracionDadaResponse" message="tns:obtenerValoracionDadaResponse"></output>
</operation>
<operation name="listarComentariosDeVideo">
<input wsam:Action="http://Controladores.Logica/CUsuario/listarComentariosDeVideoRequest" message="tns:listarComentariosDeVideo"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/listarComentariosDeVideoResponse" message="tns:listarComentariosDeVideoResponse"></output>
</operation>
<operation name="seleccionarUsuario">
<input wsam:Action="http://Controladores.Logica/CUsuario/seleccionarUsuarioRequest" message="tns:seleccionarUsuario"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/seleccionarUsuarioResponse" message="tns:seleccionarUsuarioResponse"></output>
</operation>
<operation name="buscarPorCategoria">
<input wsam:Action="http://Controladores.Logica/CUsuario/buscarPorCategoriaRequest" message="tns:buscarPorCategoria"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/buscarPorCategoriaResponse" message="tns:buscarPorCategoriaResponse"></output>
</operation>
<operation name="obtenerImagenDeUsuarioPorDefecto">
<input wsam:Action="http://Controladores.Logica/CUsuario/obtenerImagenDeUsuarioPorDefectoRequest" message="tns:obtenerImagenDeUsuarioPorDefecto"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/obtenerImagenDeUsuarioPorDefectoResponse" message="tns:obtenerImagenDeUsuarioPorDefectoResponse"></output>
</operation>
<operation name="modificarListaDeReproduccion">
<input wsam:Action="http://Controladores.Logica/CUsuario/modificarListaDeReproduccionRequest" message="tns:modificarListaDeReproduccion"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/modificarListaDeReproduccionResponse" message="tns:modificarListaDeReproduccionResponse"></output>
</operation>
<operation name="agregarVideoAListaDeReproduccion">
<input wsam:Action="http://Controladores.Logica/CUsuario/agregarVideoAListaDeReproduccionRequest" message="tns:agregarVideoAListaDeReproduccion"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/agregarVideoAListaDeReproduccionResponse" message="tns:agregarVideoAListaDeReproduccionResponse"></output>
</operation>
<operation name="validarNuevaListaParticular">
<input wsam:Action="http://Controladores.Logica/CUsuario/validarNuevaListaParticularRequest" message="tns:validarNuevaListaParticular"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/validarNuevaListaParticularResponse" message="tns:validarNuevaListaParticularResponse"></output>
</operation>
<operation name="modificarUsuarioYCanal">
<input wsam:Action="http://Controladores.Logica/CUsuario/modificarUsuarioYCanalRequest" message="tns:modificarUsuarioYCanal"></input>
<output wsam:Action="http://Controladores.Logica/CUsuario/modificarUsuarioYCanalResponse" message="tns:modificarUsuarioYCanalResponse"></output>
</operation>
</portType>
<binding name="CUsuarioPortBinding" type="tns:CUsuario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="altaVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="altaComentario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="existeNickname">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="existeEmail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="altaUsuarioCanal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="bajaUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="modificarVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="seguirUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="buscar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="seleccionarVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cerrarSesion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerPropietarioDeListaDeReproduccion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="altaListaDeReproduccionParticular">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="elUsuarioSeleccionadoEsElUsuarioActual">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarListasDeReproduccionDeUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="liberarMemoriaListaDeReproduccion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarVideosDeListaDeReproduccion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="sesionIniciada">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="valorarVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerCanalDeUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerPropietarioDeVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="liberarMemoriaVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerUsuarioActual">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="validarNuevoVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerValoracionesDeVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="seleccionarListaDeReproduccion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="modificarImagenDeUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="existeImagenDeUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="altaImagenDeUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="liberarMemoriaUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerImagenDeUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarUsuarioSeguidos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerPropietarioDeCanal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="iniciarSesionUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="eliminarImagenDeUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarUsuarioSeguidores">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="altaSubComentario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="quitarVideoDeListaDeReproduccion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarVideosDeUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerValoracionDada">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarComentariosDeVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="seleccionarUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="buscarPorCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerImagenDeUsuarioPorDefecto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="modificarListaDeReproduccion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="agregarVideoAListaDeReproduccion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="validarNuevaListaParticular">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="modificarUsuarioYCanal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CUsuarioService">
<port name="CUsuarioPort" binding="tns:CUsuarioPortBinding">
<soap:address location="http://localhost:9789/UyTube_ws"></soap:address>
</port>
</service>
</definitions>